In [24]:
import pandas as pd
import numpy as np

In [25]:
data=pd.read_csv("bank market.csv")
data.head()

   age  job  marital  default  housing  loan  duration  campaign    y
0   56    2        1        0        0     0       261         1   no
1   39    2        1        0        1     0       935         3  yes
2   54    2        1        0        0     0       160         1   no
3   39    2        1        0        0     1       266         1   no
4   60    2        1        0        0     0       253         1   no

In [26]:
np.sum(data.isnull())

age         0
job         0
marital     0
default     0
housing     0
loan        0
duration    0
campaign    0
y           0
dtype: int64

In [27]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import export_graphviz

In [28]:
#split data feature and class
X=data.values[:,0:8]
Y=data.values[:,8]

In [29]:
xdf=pd.DataFrame(X)
xdf.head()

    0  1  2  3  4  5    6  7
0  56  2  1  0  0  0  261  1
1  39  2  1  0  1  0  935  3
2  54  2  1  0  0  0  160  1
3  39  2  1  0  0  1  266  1
4  60  2  1  0  0  0  253  1

In [30]:
ydf=pd.DataFrame(Y)
ydf.head()

     0
0   no
1  yes
2   no
3   no
4   no

In [31]:
#split data : train and test
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3)

In [32]:
#build classification eith gini criteria
clf_gini=tree.DecisionTreeClassifier(criterion="gini")
clf_gini.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [33]:
y_pred_gini=clf_gini.predict(X_test)

In [34]:
#prediction gini
y_pred_gini

array(['no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no'], dtype=object)

In [35]:
#menghitung akurasi klasifikasi dengan gini
accuracy_score(Y_test, y_pred_gini)*100

98.33333333333333

In [37]:
#visualisasi
feature_names=["age","job","marital","default","housing","loan","duration","campaign"]
class_names=["yes","no"]
dot_data=export_graphviz(clf_gini, feature_names=feature_names, class_names=class_names, out_file=None, filled=True,special_characters=True)

In [38]:
from IPython.display import display
import pydotplus
from sklearn.tree import export_graphviz

In [39]:
graph=pydotplus.graph_from_dot_data(dot_data)
graph

In [40]:
display(graph.create_png())

InvocationException: GraphViz's executables not found

In [41]:
from sklearn.metrics import confusion_matrix

In [42]:
a=confusion_matrix(Y_test,y_pred_gini)
print(a)

[[57  1]
 [ 0  2]]

In [43]:
sensitivity=a[0,0]/(a[0,0]+a[1,0])
sensitivity

1.0

In [44]:
specificity=a[1,1]/(a[1,1]+a[0,1])
specificity

0.6666666666666666